.menu-item {
  font-family: sans-serif;
}

.menu-item link {
  display: block;
  padding: 0.7rem 15px;
  color: inherit;
  text-decoration: none;
}

.menu-item link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #eee;
}

.menu-item link:focus {
  text-decoration: none;
}

.menu-item link:visited {
  color: inherit;
}

.active-menu-item {
  background-color: #e8e8f9;
}
